@import url("https://fonts.googleapis.com/css?family=Alegreya");

html {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Helvetica", serif;
  font-weight: 400;
  line-height: 1.6;

  /*
  --color-primary-dark: #04009a;
  --color-primary-light: #77acf1;
  --color-secondary: #3edbf0;
  --color-tertiary-light: #c0fefc;
  */

  --color-primary-dark: #393769;
  --color-primary-light: #6592cd;
  --color-secondary: #33b5c6;
  --color-tertiary-light: #9ccecc;
  --color-banner-rgba: rgba(244, 209, 125, 0.85);
  --color-word-of-the-day-rgba: var(--color-black);

  --color-black: #555;
  --color-grey-dark: #c0c0c0;
  --color-white: #fdfdfd;

  --default-font-size: 1.7rem;
}

//Typography

.h1 {
  color: var(--color-white);
  font-size: 4.8rem;
  line-height: 0.9;
  font-weight: 100;
  text-transform: none;
  font-weight: bold;
}

.h2 {
  font-size: 4.4rem;
  color: var(--color-black);
}

.h3 {
  font-size: 3.2rem;
  color: var(--color-white);
  font-weight: 400;
  text-transform: none;
  line-height: 1.5;
}

.h4 {
  font-size: 2.8rem;
  color: var(--color-secondary);
}

.h5 {
  font-size: 2rem;
  color: var(--color-white);
  line-height: 1.5;
}

.h6 {
  font-size: 2rem;
  font-weight: 100;
  color: var(--color-white);
}

p {
  line-height: 1.5;
  font-size: var(--default-font-size);
}

.page {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(
      6rem,
      1fr
    );
  grid-template-rows: repeat(4, min-content);
}
