@import url("https://fonts.googleapis.com/css?family=Alegreya");

//Homepage

.main_nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  font-size: 1.7rem;
  align-items: center;
  justify-items: center;

  &__logo {
    height: 5rem;
  }

  &__li {
    text-decoration: none;
    color: var(--color-primary-light);
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      color: var(--color-secondary);
    }
  }
}

.banner {
  grid-column: 2 / 10;
  grid-row: 2 / 3;
  position: relative;

  &__box {
    width: max-content;
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
  }

  &__content {
    text-transform: uppercase;
    text-align: center;
    padding: 2.5rem;
    border-radius: 1rem;
  }

  &__background {
    height: 85vh;
    background-blend-mode: Soft-Light;
    background-image: url("../assets/dictionary2.jpg");
    background-color: var(--color-primary-dark);
    background-size: cover;
    background-position: center 15%;
  }

  &__bottom-bar {
    position: absolute;
    background: black;
    width: 100%;
    height: 6rem;
    z-index: 1500;
    bottom: 0rem;
    display: grid;
    justify-items: end;
    align-items: center;
  }

  &__button {
    width: 18rem;
    height: min-content;
    padding: 1.5rem 2rem;
    margin-right: 2rem;
    font-size: 1.4rem;
    background: #f0db4f;
    border: none;
    color: black;
    border-radius: 0.3rem;
    text-transform: uppercase;
    transition: all 0.3s;

    &:hover {
      background: #fff5b4;
      cursor: pointer;
    }
  }

  &__h1--span {
    font-size: 1.8rem;
    font-style: italic;
    white-space: pre-line;
  }

  &__image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.search_bar {
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: 6.5rem;
  width: 60%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  &__select {
    grid-column: 1 / 3;
    //color: var(--color-black);
    color: black;
    border: none;
    border-bottom: 0.5rem solid #f0db4f;
    outline: none;
    font-size: 1.9rem;
    padding: 2rem;
    border-radius: 100rem 0 0 100rem;
    background: var(--color-white);
  }

  &__input {
    margin-left: 1.5rem;
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    padding: 2rem;
    color: black;
    border: none;
    border-bottom: 0.5rem solid #f0db4f;
    border-radius: 0 100rem 100rem 0;
    background: var(--color-white);
    outline: none;
    font-size: 2rem;
    transition: all 0.3s;

    &:focus {
      border-bottom: 0.5rem solid var(--color-secondary);
    }
  }

  &__button {
    grid-column: 8 / -1;
    grid-row: 1 / 2;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 4rem;
    color: var(--color-primary-light);
    transition: all 0.3s;
    &:hover {
      color: var(--color-secondary);
    }
  }
}

.support {
  margin-top: 3rem;
  grid-row: 4 / 5;
  grid-column: 4 / 8;

  &__h2 {
    text-align: center;
    margin-bottom: 3rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 6rem;
  }

  &__card {
    border-radius: 0.3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 2rem;
  }

  &__image {
    grid-column: 1/-1;
    border-radius: 0.3rem 0.3rem 0 0;
    width: 100%;
  }

  &__content {
    display: flex;
    align-items: flex-end;
  }

  &__h4 {
    width: 100%;
    height: 6rem;
    font-size: 2.2rem;
    color: var(--color-black);
    text-align: center;
  }

  &__btn {
    width: 100%;
    height: 6rem;
    background-color: var(--color-primary-light);
    font-size: 1.7rem;
    color: var(--color-white);
    border: none;
    border-radius: 0 0 0.3rem 0.3rem;
    transition: all 0.3s;
    &:hover {
      background-color: var(--color-secondary);
      cursor: pointer;
    }
  }
}

.words {
  grid-row: 7 / 8;
  grid-column: 2 / 10;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 3rem;
  margin-top: 6rem;
}

.new-words {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3rem;

  &__word-container {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    width: 100%;
  }

  &__h3 {
    color: var(--color-black);
    margin-bottom: 1rem;
  }

  &__h5 {
    color: var(--color-black);
    font-weight: 100;
    font-style: italic;
    margin-bottom: 1.5rem;
  }

  &__p {
    font-size: 1.6rem;
    display: inline-block;
  }

  &__image {
    width: 100%;
    align-self: center;
  }

  &__icon {
    display: inline-block;
    margin-right: 1rem;
    font-size: 2.4rem;
    color: var(--color-primary-light);
  }

  &__btn {
    margin-top: 2rem;
    width: 60%;
    padding: 1.2rem;
    background-color: var(--color-primary-light);
    font-size: 1.5rem;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    transition: all 0.3s;
    &:hover {
      background-color: var(--color-secondary);
      cursor: pointer;
    }
  }
}

.word_of_the_day {
  height: min-content;
  background-color: var(--color-word-of-the-day-rgba);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    position: absolute;
    right: 2rem;
    top: 2rem;
    color: var(--color-tertiary-light);
    font-size: 2.8rem;
  }

  &__h3 {
    margin-top: 4rem;

    &--top {
      font-weight: 100;
    }
  }

  &__h5 {
    font-style: italic;
    font-weight: 100;
  }

  &__p {
    font-size: 1.6rem;
    display: inline-block;
    color: var(--color-white);
  }

  &__p-bottom {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    font-style: italic;
    color: var(--color-white);
  }

  &__btn {
    text-align: center;
    margin-top: 8rem;
    text-decoration: none;
    width: 66%;
    padding: 1.2rem;
    background-color: var(--color-tertiary-light);
    font-size: 1.5rem;
    color: var(--color-black);
    border: none;
    border-radius: 0.3rem;
    transition: all 0.3s;

    &:hover {
      background-color: var(--color-secondary);
      cursor: pointer;
    }
  }
}

.footer {
  grid-row: 8 / 9;
  grid-column: 2 / 10;
  margin-top: 6rem;
  background-color: var(--color-black);
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem 0.5rem 0 0;

  &__p {
    color: var(--color-white);
    font-size: 1.7rem;
    text-align: center;
  }
}

//Utility

.margin-bottom__small {
  margin-bottom: 2rem;
}
.margin-top__small {
  margin-top: 1.5rem;
}
