.searchbar {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  background-color: var(--color-word-of-the-day-rgba);
  height: 8rem;
  display: flex;

  &__form {
    margin: auto auto;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: 5.5rem;
    width: 60%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  &__select {
    grid-column: 1 / 3;
    border: none;
    border-bottom: 0.3rem solid #f0db4f;
    outline: none;
    font-size: var(--default-font-size);
    padding-left: 2rem;
    border-radius: 100rem 0 0 100rem;
  }

  &__input {
    margin-left: 1.5rem;
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    padding: 2rem;
    border: none;
    border-bottom: 0.5rem solid #f0db4f;
    border-radius: 0 100rem 100rem 0;
    background: var(--color-white);
    outline: none;
    font-size: var(--default-font-size);
    transition: all 0.3s;

    &:focus {
      border-bottom: 0.5rem solid var(--color-secondary);
    }
  }

  &__button {
    grid-column: 8 / -1;
    grid-row: 1 / 2;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 3rem;
    color: var(--color-primary-light);
    transition: all 0.3s;
    &:hover {
      color: var(--color-secondary);
    }
  }
}

.wordpage {
  grid-row: 3 / 4;
  grid-column: 2 / 7;
  margin-top: 3rem;

  &__h4 {
    color: var(--color-black);
  }
  &__h4 {
    color: var(--color-secondary);
  }

  &__h6 {
    color: var(--color-black);
  }

  &__box {
    margin-top: 2rem;
    border: solid 0.1rem var(--color-grey-dark);
    border-radius: 0.5rem;
    padding: 2rem;
  }

  &__btn-box {
    text-align: center;
  }

  &__btn {
    margin-top: 2rem;
    width: 70%;
    height: 6rem;
    background-color: var(--color-primary-light);
    font-size: 1.9rem;
    color: var(--color-white);
    border: none;
    border-radius: 0 0 0.3rem 0.3rem;
    transition: all 0.3s;
    &:hover {
      background-color: var(--color-secondary);
      cursor: pointer;
    }
  }
}

.link-box {
  margin-top: 2rem;
  border: solid 0.1rem var(--color-grey-dark);
  border-radius: 0.5rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 0.5rem;

  &__icon-wrapper {
    display: grid;
    align-items: center;
  }

  &__text {
    display: inline-block;
    font-size: var(--default-font-size);
  }

  &__link {
    display: inline-block;
    font-size: var(--default-font-size);
    color: var(--color-primary-light);
    &:hover {
      color: var(--color-secondary);
      cursor: pointer;
    }
  }

  &__icon {
    font-size: 2.4rem;
    color: var(--color-primary-light);
    &:hover {
      color: var(--color-secondary);
      cursor: pointer;
    }
  }
}

.section-side {
  grid-row: 3 / 4;
  grid-column: 8 / 10;
  margin-top: 3rem;
  //border: solid 0.1rem var(--color-grey-dark);
  border-radius: 0.5rem;
  height: 100%;
}
